<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>NodeJS Subjects</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-amber.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <div class="container">
      <h1>Subjects application</h1>

      <div style="border-bottom: 2px solid black"></div>

      <div id="update" class="update">
        <div>
          <h2>Update Subject</h2>
          <p class="graytext">Enter new information</p>
          <input type="text" id="nameInput"/>
          <input type="text" id="teacherInput"/>
          <button class="mainbutton" onclick="UpdateItem(id)">Update</button>
        </div>
        <br>
        <div style="border-bottom: 2px solid black"></div>
      </div>

      <h2> Subjects </h2>

      <div class="subjects">
        <table class="w3-table w3-striped">
          <thead>
            <tr>
              <td>Subject</td>
              <td>Teacher</td>
            </tr>
            <tr style="border-bottom: 2px solid lightgray"></tr>
          </thead>
          <tbody>
            <% if(subjects.length > 0) { %>
              <% for(var subject of subjects) { %>
                <tr key="<%= subject._id %>" class="table_tr">
                  <td><%= subject.name %></td>
                  <td><%= subject.teacher %></td>
                  <td style="text-align: right;">
                    <button class="table_button" onclick="DeleteItem('<%= subject._id %>')">delete</button>
                    <button class="table_button" onclick="ShowUpdate('<%= subject._id %>')">update</button>
                  </td>
                </tr>
              <% } %>
            <% } else {%>
              <tr><td>No subjects found</td></tr>
            <% } %>
          </tbody>
        </table>
      </div>

      <br>
      <div style="border-bottom: 2px solid black"></div>

      <h2>Add subject</h1>

        <form>
          <input type="text" id="addName"/>
          <input type="text" id="addTeacher"/>
          <button class="mainbutton" onclick="AddSubject()">Submit</button>
        </form>

      <br>  

    </div>

    <script src="/main.js"></script>
  </body>
</html>